{% import 'KsAdminLteThemeBundle:fragments:crud1_macros.html.twig' as c1m %}
{% set grants = crud['grants'] %}
{% set name = crud['name'] %}
<script>
	var {{name}}_dt_config = {
		select: false,
		deferLoading: 0,
		columns: [
			{ data: "id", title: "Log Id" },
			{ data: "char_logged_at", title: "Fecha", orderData: 5 },
			{ data: "username", title: "Usuario" },
			{ data: "object_class", title: "Entidad" },
			{ data: "version", title: "Versión" },
			{ data: "logged_at", visible: false},
			{ data: "action", title: "Acción" },
			{
                data: "id", 
				title: "Detalle",
                className: "details-control all",
				searchable: false,
                orderable: false,
                width: "10px",
				render: function (data, type, full, meta) {
					return '<button onclick="crud_{{ name }}.showDetails(\'' + data + '\')" type="button" class="btn btn-default btn-xs" aria-label="ver detalles" title="ver detalles" data-toggle="button" aria-pressed="false" autocomplete="off"><span id="{{ name }}_btspn_' + data + '" class="fa fa-chevron-down fa-fw text-info" aria-hidden="true"></span></button>';
				}
            }
		],
		rowId: 'id',
		order: [[ 0, "desc" ]]
	};
</script>