<div class="navbar-custom-menu">
	<ul class="nav navbar-nav">
	  <!-- First nav -->
	  {{ include('KsAdminLteThemeBundle:fragments:index_nav_first.html.twig') }}
	  <!-- User Account: style can be found in dropdown.less -->
	  {{ include('KsAdminLteThemeBundle:fragments:index_nav_user_account.html.twig') }}
	  <!-- Last nav -->
	  {{ include('KsAdminLteThemeBundle:fragments:index_nav_last.html.twig') }}
	</ul>
</div>