<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
	  <!-- Sidebar extras -->
	  {{ include('KsAdminLteThemeBundle:fragments:index_sidebar_menu_before.html.twig') }}
	  <!-- Sidebar Menu -->
	  {{ include('KsAdminLteThemeBundle:fragments:index_sidebar_menu.html.twig') }}
	  <!-- Sidebar extras -->
	  {{ include('KsAdminLteThemeBundle:fragments:index_sidebar_menu_after.html.twig') }}
	</section>

</aside>