<footer class="main-footer">
	<div class="pull-right hidden-xs">
	  <b>Version</b> {{constant('\\AppBundle\\AppBundle::APPVERSION')}}
	</div>
	<strong>Copyright &copy; 2014-2015 <a href="http://localhost">MyCompany</a>.</strong> All rights reserved.
</footer>